<section class="section mission">
  <div class="section-content mission-content">
    <h1>Angular</h1>
    <p>
      Angular est un framework puissant permettant de créer des interfaces web
      dynamiques et performantes. Il repose sur un modèle basé sur les
      composants et intègre des outils avancés pour la gestion du routing, des
      formulaires réactifs et de la communication avec des API REST.
    </p>
  </div>
  <img src="assets/images/angularWhite.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai découvert Angular lors du projet Insert, où j’ai développé une
      interface utilisateur fluide et interactive pour permettre aux partenaires
      d’organiser et de visualiser des événements. L’intégration de Leaflet, une
      bibliothèque de cartographie interactive, a été l’un des aspects les plus
      stimulants du projet, nécessitant une gestion efficace des données
      géolocalisées et des mises à jour en temps réel.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      En travaillant avec Angular, j’ai appris à structurer mon code de manière
      modulaire, à optimiser les performances avec le lazy loading et à gérer
      efficacement les états d’application via des services et observables.
    </p>
    <p>
      Aujourd’hui, Angular fait partie de mes outils privilégiés pour le
      développement front-end, et je continue à explorer ses évolutions,
      notamment dans l’optimisation des performances et l’intégration avec des
      architectures serverless.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
