<section class="section mission">
  <div class="section-content mission-content">
    <h1>Gestion de projets</h1>
    <p>
      La gestion de projet est une compétence clé dans le développement
      logiciel, permettant de structurer efficacement les différentes phases
      d’un projet, de coordonner les équipes et d’assurer la livraison d’un
      produit de qualité dans les délais impartis. J’ai eu l’occasion de
      développer cette compétence grâce à plusieurs expériences académiques et
      professionnelles, notamment en utilisant les méthodologies Agile et Scrum.
    </p>
  </div>
  <img src="assets/images/proGestion.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      Durant mes projets en entreprise et en alternance, j’ai appris à
      travailler en mode itératif et collaboratif, en organisant le travail sous
      forme de sprints, en définissant des objectifs clairs et en adaptant les
      priorités en fonction des retours des parties prenantes. J’ai également
      participé à des réunions de suivi (daily meetings, rétrospectives), où
      j’ai pu exposer l’avancement de mes tâches, identifier les points de
      blocage et proposer des solutions pour améliorer le développement du
      projet.
    </p>
    <p>
      Lors de mon travail sur Lilas, une application de gestion des anomalies
      techniques pour l’ENAP, j’ai dû coordonner les échanges entre les
      utilisateurs finaux et l’équipe de développement, en recueillant leurs
      retours et en les intégrant progressivement dans l’évolution du produit.
      Ce processus a nécessité une bonne capacité d’écoute et d’analyse, afin de
      traduire les besoins métier en fonctionnalités concrètes et adaptées.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      J’ai également appliqué ces compétences sur Insert, une plateforme de
      gestion des partenaires et événements, où la planification du
      développement devait être alignée avec les besoins de la Mission Locale.
      L’utilisation d’une approche Agile a permis de livrer progressivement des
      fonctionnalités, tout en s’assurant que l’application répondait aux
      attentes des utilisateurs et pouvait évoluer en fonction des besoins
      futurs.
    </p>
    <p>
      Aujourd’hui, j’ai acquis une bonne maîtrise des outils de gestion de
      projet comme Trello, Jira et GitLab, qui permettent de suivre l’avancement
      des tâches, d’optimiser la répartition du travail et de faciliter la
      communication entre les membres d’une équipe. Je continue à approfondir
      cette compétence en explorant les nouvelles pratiques de gestion Agile,
      afin d’améliorer encore mon efficacité dans l’organisation et le pilotage
      de projets informatiques.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
