<section class="section mission">
  <div class="section-content mission-content">
    <h1>Autonomie</h1>
    <p>
      L’autonomie est une compétence essentielle dans le domaine du
      développement, car elle permet de progresser rapidement et d’être efficace
      face aux défis techniques. J’ai appris à travailler de manière
      indépendante, en recherchant moi-même des solutions aux problèmes que je
      rencontre, en explorant les documentations officielles et en effectuant
      des tests pour valider mes hypothèses.
    </p>
  </div>
  <img src="assets/images/autonomie.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      Mon autonomie s’est particulièrement développée lors de mon stage chez
      Archi’Mède, où j’ai dû apprendre Laravel et Ionic en peu de temps pour
      contribuer au projet Covoit’Santé. Plutôt que d’attendre une formation
      formelle, j’ai utilisé des ressources en ligne, des tutoriels et des
      forums de développeurs pour maîtriser ces technologies rapidement et
      efficacement.
    </p>
    <p>
      Dans le cadre du développement de Lilas, une application pour le suivi des
      anomalies techniques, j’ai été le seul développeur à concevoir et
      implémenter l’ensemble des fonctionnalités. Cette expérience m’a appris à
      gérer un projet en autonomie, en prenant en charge toutes les étapes, de
      l’analyse des besoins jusqu’au déploiement de la solution. J’ai dû prendre
      des décisions techniques, choisir les meilleures approches pour structurer
      le code et optimiser la base de données, tout en m’assurant que
      l’interface utilisateur était intuitive et adaptée aux besoins des
      techniciens.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      Au-delà des compétences purement techniques, l’autonomie signifie aussi
      être capable d’organiser son travail efficacement et de savoir quand
      demander de l’aide. Bien que je sois capable de résoudre la majorité des
      problèmes par moi-même, je sais également échanger avec d’autres
      développeurs, que ce soit au sein d’une équipe ou via des communautés en
      ligne, pour approfondir mes connaissances et découvrir de nouvelles
      approches.
    </p>
    <p>
      Cette capacité à apprendre en continu me permet aujourd’hui d’être
      polyvalent et adaptable, et de m’intégrer rapidement dans de nouveaux
      environnements techniques ou professionnels.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
