<nav [class.active]="isMenuOpen">
  <div class="burger" (click)="toggleMenu()" [class.open]="isMenuOpen">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div class="menu" [class.open]="isMenuOpen">
    <div class="menu-container">
      <h1 class="menu-title">Noé Moussa</h1>
      <a routerLink="/home" (click)="closeMenu()">Accueil</a>
      <a routerLink="/skills" (click)="closeMenu()">Compétences</a>
      <a routerLink="/contact" (click)="closeMenu()">Contact</a>
    </div>
  </div>
</nav>
