<section class="section mission">
  <div class="section-content mission-content">
    <h1>Laravel</h1>
    <p>
      Laravel est un framework PHP incontournable pour le développement
      d’applications web modernes. Il facilite la structuration du code en
      suivant le modèle MVC (Modèle-Vue-Contrôleur) et offre une multitude de
      fonctionnalités intégrées permettant de gagner en productivité et en
      sécurité.
    </p>
  </div>
  <img src="assets/images/laravelWhite.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai découvert Laravel lors de mon stage de six mois, en développant des
      fonctionnalités pour Covoit’Santé, une plateforme de covoiturage destinée
      aux déplacements médicaux. Par la suite, j’ai approfondi mon utilisation
      du framework au sein de l’École nationale d’administration pénitentiaire,
      en développant Lilas, une application de gestion des anomalies techniques
      du campus.
    </p>
    <p>
      La prise en main initiale de Laravel a nécessité une adaptation, notamment
      en raison de son approche MVC et de son système de gestion des migrations
      et des relations entre les entités. Toutefois, grâce à une pratique
      régulière et à l’exploration des ressources disponibles, j’ai rapidement
      acquis une maîtrise avancée du framework.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      J’ai pu exploiter pleinement les nombreuses fonctionnalités de Laravel,
      notamment Eloquent ORM, qui facilite la gestion et la manipulation des
      bases de données, ainsi que les migrations, qui permettent de versionner
      et structurer efficacement les tables. L’intégration de bibliothèques
      tierces via Composer rend le développement plus modulaire, tandis que la
      gestion avancée des routes et des middlewares assure une organisation
      efficace du code.
    </p>
    <p>
      Aujourd’hui, j’évalue ma compétence en Laravel à un niveau
      intermédiaire-avancé. Je continue à approfondir mes connaissances en
      explorant de nouvelles pratiques, telles que les tests automatisés, qui
      garantissent la robustesse du code, l’optimisation des performances pour
      améliorer l’expérience utilisateur, et l’application des principes de
      sécurité afin de renforcer la protection des données.
    </p>

    <p>
      Laravel est devenu un outil clé dans mon développement back-end, ainsi que
      front-end, et je veille à suivre ses évolutions pour proposer des
      solutions toujours plus performantes et adaptées aux besoins des
      utilisateurs.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>
