<section class="section mission">
  <div class="section-content mission-content">
    <h1>Covoit'Santé</h1>
    <p>
      Dans le cadre de mon stage chez Archi'Mède, j’ai eu l’opportunité de
      travailler sur deux projets majeurs : Covoit'Event et Covoit'Santé. Ces
      initiatives visaient à offrir des solutions de covoiturage adaptées à des
      besoins spécifiques, tout en promouvant un mode de transport plus
      économique et respectueux de l’environnement.
    </p>

    <p>
      Covoit'Event avait pour objectif de faciliter les trajets vers des
      événements tels que des festivals, des rencontres sportives ou encore des
      manifestations culturelles. En mettant en relation les participants
      souhaitant partager un véhicule, cette plateforme permettait de réduire
      les coûts de transport, d’optimiser les déplacements et de minimiser
      l’impact écologique de ces événements.
    </p>
    <p>
      De son côté, Covoit'Santé s’adressait aux patients nécessitant des trajets
      réguliers vers des établissements médicaux. L’enjeu était de proposer un
      service de covoiturage fiable et accessible, améliorant ainsi l’accès aux
      soins tout en optimisant l’usage des véhicules disponibles. L’objectif
      principal de ces deux projets était donc de simplifier et rationaliser les
      déplacements en mettant l’accent sur le partage des ressources et la
      réduction de l’empreinte écologique.
    </p>
  </div>
  <img src="assets/images/projects/covoit-sante.svg" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/projects/role.png" alt="Illustration rôle" />
  <div class="section-content">
    <h2>👨‍💻 Mon rôle dans le projet</h2>
    <p>
      En tant que développeur, mon rôle a évolué au fil de la mission. Dans un
      premier temps, j’ai été chargé d’améliorer et d’enrichir les
      fonctionnalités existantes sur les plateformes web de Covoit'Event et
      Covoit'Santé. Cette phase impliquait non seulement la correction de bugs
      et l’optimisation des performances, mais aussi l’implémentation de
      nouvelles fonctionnalités pour améliorer l’expérience utilisateur et la
      fluidité du service. C’est lors de cette phase que j’ai pu prendre en main
      le framework Laravel.
    </p>
    <p>
      Par la suite, j’ai pris en charge un développement plus ambitieux : la
      création de l’application mobile Covoit’Event. Cette nouvelle étape a
      nécessité un travail approfondi sur l’architecture du projet, ainsi qu’une
      adaptation des fonctionnalités web pour une utilisation fluide sur mobile.
    </p>
    <p>
      Travailler sur ces deux projets m’a permis de renforcer mes compétences en
      conception et développement, mais aussi de mieux appréhender les enjeux
      liés à la mobilité et au transport partagé.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <h2>🏢 Contexte et client</h2>
    <p>
      Le projet a été initié par Archi'Mède, une entreprise spécialisée dans
      l'archivage physique et numérique, fonctionnant selon un modèle coopératif
      SCOP. Souhaitant diversifier ses services et proposer des solutions
      innovantes, l’entreprise a décidé de s’engager dans la création de
      Covoit'Santé et Covoit'Event.
    </p>
    <p>
      J’ai eu l’occasion d’intégrer cette structure dans le cadre d’un stage de
      six mois, où j’ai contribué activement à la mise en place et à
      l’amélioration de ces plateformes.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section objective">
  <img src="assets/images/projects/objective.jpg" alt="Illustration objectifs" />
  <div class="section-content">
    <h2>🎯 Objectifs, défis et enjeux</h2>
    <p>
      Le principal enjeu de ce projet était de concevoir et développer des
      solutions de covoiturage adaptées aux attentes et aux contraintes des
      utilisateurs. Pour Covoit'Santé, il était essentiel d’assurer un service
      accessible et fiable pour les patients nécessitant des trajets médicaux
      réguliers, tout en garantissant une interface fluide et intuitive.
    </p>
    <p>
      Quant à Covoit'Event, la difficulté résidait dans la mise en relation
      rapide et efficace des participants d’un événement, en prenant en compte
      des critères comme la géolocalisation, les disponibilités des conducteurs
      et la capacité des véhicules.
    </p>
    <p>
      En plus des aspects purement techniques, le projet devait mettre en avant
      les avantages écologiques et économiques du covoiturage, en encourageant
      une utilisation plus responsable des transports.
    </p>
  </div>
</section>

<section class="section process">
  <div class="section-content">
    <h2>⚙️ Processus de développement</h2>
    <p>
      Le développement de ces plateformes a suivi un processus rigoureux,
      commençant par une phase de familiarisation avec les outils et
      technologies utilisés. Travaillant principalement avec Laravel pour la
      partie backend et Ionic Angular pour l’application mobile, j’ai rapidement
      pris en main ces frameworks afin de proposer des solutions optimisées et
      performantes.
    </p>
    <p>
      La première étape du développement a consisté à améliorer les plateformes
      web en y intégrant de nouvelles fonctionnalités, notamment des systèmes de
      gestion des trajets et des profils utilisateurs. Une fois ces éléments
      consolidés, j’ai entamé le développement de l’application mobile
      Covoit'Event.
    </p>
    <p>
      L’utilisation du framework Ionic a été un choix stratégique, permettant de
      concevoir une application mobile hybride compatible avec plusieurs
      systèmes d’exploitation. Grâce à cette technologie, nous avons pu intégrer
      des fonctionnalités essentielles, telles que la géolocalisation, qui
      permet aux utilisateurs de trouver rapidement des covoiturages à
      proximité, ainsi que les notifications push, facilitant la communication
      entre passagers et conducteurs.
    </p>
    <p>
      Cette approche nous a permis de proposer une application intuitive et
      efficace, garantissant une expérience utilisateur optimale sur smartphone.
    </p>
  </div>
  <img src="assets/images/projects/process.png" alt="Illustration processus" />
</section>

<section class="section conclusion">
  <img src="assets/images/projects/conclusion.jpg" alt="Illustration conclusion" />
  <div class="section-content">
    <h2>🏁 Conclusion et apprentissages</h2>
    <p>
      Le développement des projets Covoit'Santé et Covoit'Event a représenté une
      expérience très intéressante, tant sur le plan technique que personnel.
      Cette mission m’a permis d’approfondir mes compétences en développement
      web et mobile, tout en me confrontant aux contraintes réelles d’un projet
      applicatif.
    </p>
    <p>
      J’ai également développé des compétences en gestion de projet et en
      travail d’équipe, en collaborant avec un autre développeurs et en adaptant
      mon travail aux exigences et retours du client.
    </p>
    <p>
      Grâce à cette expérience, j’ai renforcé ma capacité à concevoir des
      solutions innovantes et adaptées aux besoins des utilisateurs, tout en
      mettant en pratique des technologies modernes.
    </p>
    <p>
      Ce stage m’a conforté dans ma volonté de poursuivre dans le développement
      de solutions logicielles intelligentes et durables, et m’a donné une
      vision plus concrète des enjeux liés aux projets technologiques dans le
      domaine du transport et de la mobilité.
    </p>
  </div>
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Compétences associées</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Autonomie</h3>
        <img src="assets/images/autonomieViolet.png" alt="Illustration compétence" />
        <a routerLink="/autonomie" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Git</h3>
        <img src="assets/images/gitViolet.png" alt="Illustration compétence" />
        <a routerLink="/git" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Anglais</h3>
        <img src="assets/images/ENFlagViolet.png" alt="Illustration compétence" />
        <a routerLink="/anglais" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Laravel</h3>
        <img src="assets/images/laravelViolet.png" alt="Illustration compétence" />
        <a routerLink="/laravel" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Android</h3>
        <img src="assets/images/android-osViolet.png" alt="Illustration compétence" />
        <a routerLink="/android" class="btn">Voir la compétence</a>
      </div>
    </div>
  </div>
</section>
