<section class="section mission">
  <div class="section-content mission-content">
    <h1>Java</h1>
    <p>
      Java est un langage de programmation largement utilisé pour le
      développement d’applications back-end robustes et sécurisées. Il est
      particulièrement adapté aux architectures scalables, notamment grâce à des
      frameworks comme Spring Boot.
    </p>
  </div>
  <img src="assets/images/javaWhite.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai travaillé avec Java dans le cadre du projet Insert, où j’ai participé
      à la conception d’une API REST permettant de gérer les partenaires et
      événements de la Mission Locale. Ce projet m’a permis de développer des
      compétences en conception d’API sécurisées, en intégrant un système
      d’authentification basé sur JWT (JSON Web Tokens) et une gestion fine des
      rôles utilisateurs.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      J’ai également appris à optimiser la communication entre le front-end et
      l’API en mettant en place des requêtes asynchrones, des systèmes de
      pagination et une gestion efficace des erreurs.
    </p>
    <p>
      Je continue d’approfondir mes compétences en Java en explorant les
      architectures microservices, l’intégration avec des bases de données
      avancées et l’utilisation des solutions cloud-native pour améliorer la
      scalabilité et la fiabilité des applications.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
