body {
  margin: 0;
}

.home-section {
  height: 100vh;
  background-color: hsl(316, 30%, 36%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-text {
  text-align: left;
  font-family: "Mosk Bold 700";
  font-size: 7dvh;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

#home-hi {
  transform: rotate(-3deg);
  font-family: "Jenthill";
  font-size: 4dvh;
  padding-bottom: 2rem;
}

.contrast {
  color: hsl(316, 30%, 36%);
  text-shadow:
    -1px -1px 0 #ffffff,
    1px -1px 0 #ffffff,
    -1px 1px 0 #ffffff,
    1px 1px 0 #ffffff;
}

.animated-word {
  display: inline-block;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  position: relative;
}

.animated-word {
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.animated-word.active {
  transform: translateY(-5px) rotate(-2deg);
  color: #ffcc00;
}

.right-home-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(316, 30%, 36%);
  width: 50dvw;
}

.left-home-section {
  position: relative;
  color: hsl(316, 30%, 36%);
  width: 50dvw;
  display: flex;
  height: 100%;
}

.home-left-part1,
.home-left-part2 {
  height: 100%;
}

.home-left-part1 {
  background-color: hsl(274, 4%, 18%);
  width: 65%;
}

.home-left-part2 {
  background-color: hsl(316, 30%, 36%);
}

.logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30dvw;
  height: auto;
  z-index: 1;
}

@media (max-width: 768px) {
  .home-section {
    padding: 1rem;
  }
  .left-home-section {
    display: none;
  }

  .right-home-section {
    width: 100%;
  }
}

.mouse-emoji {
  position: absolute;
  display: inline-block;
  animation: click-animation 1.5s ease-in-out infinite;
  bottom: -10px; /* Ajuste la position du curseur par rapport au texte */
  right: -20px; /* Ajuste la position horizontale */
}

.mouse-emoji img {
  width: 20px;
  height: auto;
}

@keyframes click-animation {
  0% {
    transform: translate(0, 0) scale(1); /* Point de départ */
  }
  50% {
    transform: translate(-5px, -5px) scale(0.9); /* Simule le déplacement vers le bas */
  }
  60% {
    transform: translate(0px, 0px) scale(1); /* Retour à la position initiale */
  }
  100% {
    transform: translate(0, 0) scale(1); /* Répète l'animation */
  }
}

.animated-word {
  position: relative;
}

/*SECTION 2*/
.second-section {
  background-color: hsl(263, 29%, 32%);
  padding: 10vh 5vw;
  min-height: 100vh; /* Pour s'assurer que la section occupe bien tout l'écran */
  box-sizing: border-box;
}

.title {
  font-family: "Mosk Bold 700";
  font-size: 5dvh;
  color: white;
  text-align: center;
  margin-bottom: 5vh;
}

.skill-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding-top: 10dvh;
}

.skill {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5dvh;
}

.skill:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.laravel {
  width: 80%;
}

@media (max-width: 768px) {
  .title {
    font-size: 4dvh;
  }

  .skill-container {
    grid-template-columns: 1fr; /* Empile les éléments en une seule colonne */
  }

  .skill {
    width: 100%; /* Prend toute la largeur disponible sur petit écran */
  }
}
