<div id="home" class="section home-section">
  <div class="left-home-section">
    <div class="home-left-part1"></div>
    <div class="home-left-part2"></div>
    <img class="logo" src="assets/images/MonLogoViolet.svg" alt="Noé" />
  </div>
  <div class="right-home-section" id="home">
    <div class="home-text">
      <p id="home-hi">👋 Bonjour, je suis Noé !</p>
      <p>
        Étudiant en <br /><span class="contrast">ingénierie du logiciel</span
        >,<br />
        je transforme des idées <br />en solutions
        <span
          class="contrast animated-word"
          [ngClass]="{ active: isHovered }"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          (click)="onMouseClick()"
        >
          interactives
          <span class="mouse-emoji">
            <img src="assets/images/yellowPointer.png" />
          </span>
        </span>
        .
      </p>
      <app-firework *ngIf="showFirework"></app-firework>
    </div>
  </div>
</div>

<div class="section presentation-section" id="presentation-section">
  <h1 class="title">Qui suis-je ?</h1>

  <div class="presentation-container">
    <div class="presentation-text">
      <p class="intro-text">
        🎓 <span class="bold">Formation et Expertise Technique</span><br />
        Actuellement en cinquième année à l’ESIEA, j'ai développé une expertise
        en
        <span class="highlight">développement web et logiciel</span> avec
        Laravel, Ionic, Angular et C#. Mon approche allie
        <span class="highlight">agilité</span> et
        <span class="highlight">pragmatisme</span> pour des solutions optimales.
      </p>

      <p class="intro-text">
        🚀 <span class="bold">Objectif Professionnel</span><br />
        Mon ambition est de
        <span class="highlight">créer ma propre entreprise</span> spécialisée en
        solutions logicielles, en intégrant innovation et pratiques
        responsables.
      </p>

      <p class="intro-text">
        🔍 <span class="bold">Innovation</span><br />
        Toujours en veille sur les
        <span class="highlight">nouvelles technologies</span>, je conçois des
        solutions performantes, adaptées aux utilisateurs et aux tendances du
        marché.
      </p>

      <p class="intro-text">
        🎶 <span class="bold">Mes passions</span><br />
        Je joue du <span class="highlight">piano</span> depuis plusieurs années.
        C’est une activité qui me permet de me détendre et de me concentrer
        différemment, tout en développant ma patience et ma rigueur.<br />
        Je pratique aussi beaucoup de <span class="highlight">sport</span>,
        C’est un moyen pour moi de me dépasser et de garder une discipline
        régulière.
      </p>
    </div>

    <div class="presentation-image">
      <img
        src="assets/images/noe-photo.jpg"
        alt="Noé"
        class="profile-picture"
      />
    </div>
  </div>
</div>

<div class="section parcours-section" id="parcours">
  <h1 class="title title-parcours">Mon Parcours</h1>

  <div class="timeline">
    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">2017 - 2020</span>
        <h3>Lycée Bernard Palissy</h3>
        <p>Baccalauréat Scientifique, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">2020 - 2025</span>
        <h3>ESIEA</h3>
        <p>RNCP 1, Ingénierie du logiciel, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">Mars 2023 - Août 2023</span>
        <h3>Archi'Mède</h3>
        <p>Développeur Fullstack & Mobile, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">Août 2023 - Août 2025</span>
        <h3>ENAP</h3>
        <p>Développeur Fullstack, Agen</p>
      </div>
    </div>
  </div>
</div>
<div class="section second-section" id="skills">
  <h1 class="title">Compétences</h1>

  <div class="skill-container">
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/laravelWhite.png"
        routerLink="/laravel"
      />
    </div>
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/angularWhite.png"
        routerLink="/angular"
      />
    </div>
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/javaWhite.png"
        routerLink="/java"
      />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/gitWhite.png" routerLink="/git" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/sqlWhite.png" routerLink="/sql" />
    </div>
  </div>

  <div class="skill-container">
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/autonomie.png"
        routerLink="/autonomie"
      />
    </div>
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/communication.png"
        routerLink="/communication"
      />
    </div>
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/proGestion.png"
        routerLink="/gestion-de-projets"
      />
    </div>
    <div class="skill">
      <img
        class="laravel"
        src="assets/images/ENFlagWhite.png"
        routerLink="/anglais"
      />
    </div>
  </div>
</div>

<div class="section parcours-section" id="projects">
  <h1 class="title title-parcours">Mes projets</h1>

  <div class="skill-container">
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Gwadafood</h3>
        <img
          src="assets/images/projects/gwadafood.png"
          alt="Illustration projet Gwadafood"
        />
        <a routerLink="/gwadafood" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</div>

<div class="section contact-section" id="contact">
  <h1 class="title">📩 Me Contacter</h1>
  <p class="contact-text">
    Une question, un projet ou simplement envie d’échanger ?<br />
    N’hésite pas à me contacter !
  </p>
  <a href="mailto:noe.moussa.lp@gmail.com" class="contact-email"
    >noe.moussa.lp@gmail.com</a
  >
</div>
