<div id="home" class="section home-section">
  <div class="left-home-section">
    <div class="home-left-part1"></div>
    <div class="home-left-part2"></div>
    <img class="logo" src="assets/images/MonLogoViolet.svg" alt="Noé" />
  </div>
  <div class="right-home-section" id="home">
    <div class="home-text">
      <p id="home-hi">👋 Bonjour, je suis Noé !</p>
      <p>
        Étudiant en <br /><span class="contrast">ingénierie du logiciel</span
        >,<br />
        je transforme des idées <br />en solutions
        <span
          class="contrast animated-word"
          [ngClass]="{ active: isHovered }"
          (mouseenter)="onMouseEnter()"
          (mouseleave)="onMouseLeave()"
          (click)="onMouseClick()"
        >
          interactives
          <span class="mouse-emoji">
            <img src="assets/images/yellowPointer.png" />
          </span>
        </span>
        .
      </p>
      <app-firework *ngIf="showFirework"></app-firework>
    </div>
  </div>
</div>

<div class="section presentation-section" id="presentation-section">
  <h1 class="title">Présentation</h1>

  <div class="presentation-container">
    <div class="presentation-text">
      <h3>Qui suis-je ?</h3>
      <p class="intro-text">
        🎓 <span class="bold">Formation et Expertise Technique</span><br />
        Actuellement en quatrième année à l’ESIEA, j'ai développé une expertise
        en
        <span class="highlight">développement web et logiciel</span> avec
        Laravel, Ionic, Angular et C#. Mon approche allie
        <span class="highlight">agilité</span> et
        <span class="highlight">pragmatisme</span> pour des solutions optimales.
      </p>

      <p class="intro-text">
        🚀 <span class="bold">Objectif Professionnel</span><br />
        Mon ambition est de
        <span class="highlight">créer ma propre entreprise</span> spécialisée en
        solutions logicielles, en intégrant innovation et pratiques
        responsables.
      </p>

      <p class="intro-text">
        🔍 <span class="bold">Passion et Innovation</span><br />
        Toujours en veille sur les
        <span class="highlight">nouvelles technologies</span>, je conçois des
        solutions performantes, adaptées aux utilisateurs et aux tendances du
        marché.
      </p>
    </div>

    <div class="presentation-image">
      <img
        src="assets/images/noe-photo.jpg"
        alt="Noé"
        class="profile-picture"
      />
    </div>
  </div>
</div>

<div class="section parcours-section" id="parcours">
  <h1 class="title title-parcours">Mon Parcours</h1>

  <div class="timeline">
    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">2017 - 2020</span>
        <h3>Lycée Bernard Palissy</h3>
        <p>Baccalauréat Scientifique, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">2020 - 2025</span>
        <h3>ESIEA</h3>
        <p>RNCP 1, Ingénierie du logiciel, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">Mars 2023 - Août 2023</span>
        <h3>Archi'Mède</h3>
        <p>Développeur Fullstack & Mobile, Agen</p>
      </div>
    </div>

    <div class="timeline-item">
      <span class="timeline-dot"></span>
      <div class="timeline-content">
        <span class="timeline-date">Août 2023 - Août 2025</span>
        <h3>ENAP</h3>
        <p>Développeur Fullstack, Agen</p>
      </div>
    </div>
  </div>
</div>

<div class="section second-section" id="skills">
  <h1 class="title">Compétences</h1>

  <div class="skill-container">
    <div class="skill">
      <img class="laravel" src="assets/images/laravelWhite.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/angularWhite.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/javaWhite.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/gitWhite.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/sqlWhite.png" />
    </div>
  </div>

  <div class="skill-container">
    <div class="skill">
      <img class="laravel" src="assets/images/autonomie.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/communication.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/proGestion.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/gitWhite.png" />
    </div>
    <div class="skill">
      <img class="laravel" src="assets/images/sqlWhite.png" />
    </div>
  </div>
</div>
