<section class="section mission">
  <div class="section-content mission-content">
    <h1>Android</h1>
    <p>
      Android est un système d’exploitation mobile permettant le développement
      d’applications performantes et ergonomiques adaptées aux smartphones et
      tablettes. Il repose sur Java ou Kotlin et offre une large gamme d’outils
      pour la gestion des interfaces utilisateur, le stockage de données et
      l’interaction avec des services externes.
    </p>
  </div>
  <img src="assets/images/android-os.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      Mon expérience avec Android a débuté avec le développement de **Optivex**,
      une application permettant aux livreurs d’UPSA de répertorier et optimiser
      leurs trajets entre différents locaux de l’entreprise. J’ai conçu cette
      application avec **Android Studio et Java**, en mettant en place un
      système d’enregistrement et de consultation des trajets pour améliorer la
      gestion des déplacements.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      J’ai aussi pu utiliser cette technologie lors de la réalisation de
      l’application Covoit’Santé. La nouveauté à été l’utilisation d’un
      framework multiplateforme du nom d’Ionic. J’ai donc pu développer une
      application web, Android et IOS, en utilisant un seul outil.
    </p>
    <p>
      Grâce à ces projets, j’ai acquis une solide maîtrise du **développement
      Android**, notamment sur la gestion des activités, la structuration des
      données et l’optimisation des performances. Je continue d’explorer les
      meilleures pratiques pour améliorer l’expérience utilisateur et intégrer
      des fonctionnalités avancées comme les **notifications** et la
      **synchronisation avec des API distantes**.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet Optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
