<section class="section mission">
  <div class="section-content mission-content">
    <h1>Laravel</h1>
    <p>
      L’anglais est une compétence essentielle dans le domaine du développement,
      car la majorité des documentations, des ressources techniques et des
      échanges professionnels se font dans cette langue. J’ai acquis une bonne
      maîtrise de l’anglais écrit, notamment grâce à la lecture régulière de
      documentations, de blogs techniques et de forums spécialisés comme Stack
      Overflow et GitHub.
    </p>
  </div>
  <img src="assets/images/ENFlag.svg" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      Dans mes projets, l’anglais est omniprésent, que ce soit pour comprendre
      les erreurs de compilation, suivre des tutoriels, ou rédiger des
      commentaires et des documentations techniques. J’ai également travaillé
      sur des projets où il fallait utiliser des APIs dont la documentation
      était uniquement disponible en anglais, ce qui m’a permis d’améliorer ma
      compréhension des termes techniques et des concepts avancés.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      J’ai également eu l’occasion d’échanger en anglais avec d’autres
      développeurs lors de discussions techniques et de forums en ligne. Ces
      échanges m’ont permis de me familiariser avec les pratiques
      internationales de développement et de m’adapter à un contexte
      professionnel où l’anglais est souvent la langue de référence.
    </p>
    <p>
      Si mon niveau écrit est solide, je continue à améliorer ma fluidité à
      l’oral, notamment en suivant du contenu en anglais et en participant à des
      discussions techniques. Mon objectif est d’être capable de travailler dans
      un environnement entièrement anglophone, afin de pouvoir collaborer sur
      des projets internationaux et interagir facilement avec des équipes
      multiculturelles.
    </p>

    <p>
      Laravel est devenu un outil clé dans mon développement back-end, ainsi que
      front-end, et je veille à suivre ses évolutions pour proposer des
      solutions toujours plus performantes et adaptées aux besoins des
      utilisateurs.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
