<section class="section mission">
  <div class="section-content mission-content">
    <h1>Optivex</h1>
    <p>
      Dans le cadre de mon projet en développement mobile, j’ai conçu et
      développé Optivex, une application Android dédiée à la gestion et à
      l’optimisation des trajets des livreurs de UPSA. L’entreprise, spécialisée
      dans la production et la distribution de médicaments, possède plusieurs
      sites logistiques entre lesquels transitent quotidiennement des
      marchandises.
    </p>

    <p>
      L’objectif principal de Optivex était de permettre aux livreurs
      d’enregistrer et de consulter leurs trajets afin d’améliorer la gestion
      des déplacements et d’optimiser les itinéraires entre les différents
      locaux de l’entreprise. L’application a été pensée pour faciliter
      l’organisation du travail des livreurs, en leur offrant un outil simple et
      efficace, permettant de retrouver les trajets les plus pertinents et
      d’enregistrer de nouveaux itinéraires en fonction des besoins.
    </p>
  </div>
  <img src="assets/images/projects/optivex.jpg" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/projects/role.png" alt="Illustration rôle" />
  <div class="section-content">
    <h2>👨‍💻 Mon rôle dans le projet</h2>
    <p>
      En tant que développeur, j’ai été chargé avec des camarades, de la
      conception et du développement complet de l’application mobile. Dans un
      premier temps, j’ai travaillé sur la structuration du projet en
      définissant l’architecture de l’application et en mettant en place une
      base de données locale permettant de stocker les trajets enregistrés par
      les livreurs.
    </p>
    <p>
      Ensuite, j’ai développé une interface utilisateur fluide et intuitive,
      garantissant une prise en main rapide et une navigation efficace. L’un des
      défis majeurs de ce projet a été de concevoir un système de gestion des
      trajets capable d’assurer un accès rapide aux informations essentielles,
      tout en permettant aux utilisateurs de modifier, supprimer ou ajouter des
      trajets en quelques secondes.
    </p>
    <p>
      Enfin, j’ai mené plusieurs phases de tests et d’améliorations pour
      garantir la fiabilité et la performance de l’application, en tenant compte
      des retours des utilisateurs et des contraintes spécifiques du métier de
      livreur.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <h2>🏢 Contexte et client</h2>
    <p>
      Le projet Optivex a été développé en réponse à un besoin concret exprimé
      par UPSA, une entreprise du secteur pharmaceutique nécessitant une
      meilleure gestion des trajets de livraison entre ses différents sites.
      L’objectif était d’offrir aux livreurs une solution mobile intuitive et
      efficace, leur permettant de savoir précisément ce qui a été livré, et
      d’optimiser l’utilisation des véhicules de livraison.
    </p>
    <p>
      En proposant cette application, UPSA souhaitait réduire les temps de
      trajet, améliorer la planification des livraisons, et faciliter le suivi
      des parcours effectués. Ce projet s’inscrit dans une démarche de
      modernisation des outils de travail au sein de l’entreprise, tout en
      apportant une meilleure traçabilité des déplacements des livreurs.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section objective">
  <img
    src="assets/images/projects/objective.jpg"
    alt="Illustration objectifs"
  />
  <div class="section-content">
    <h2>🎯 Objectifs, défis et enjeux</h2>
    <p>
      L’un des principaux enjeux du projet résidait dans la simplicité
      d’utilisation de l’application. Il était impératif que les livreurs
      puissent enregistrer et consulter leurs trajets sans perte de temps, tout
      en assurant une gestion efficace des données. L’application devait être
      utilisable même en l’absence de connexion internet, d’où l’intégration
      d’une base de données locale pour stocker les informations en toute
      autonomie.
    </p>
    <p>
      Un autre défi technique était de concevoir une interface ergonomique,
      capable d’afficher de manière claire et intuitive les trajets effectués et
      les nouvelles destinations à enregistrer. La fluidité et la rapidité
      d’exécution étaient des critères essentiels pour garantir une expérience
      utilisateur optimale.
    </p>
    <p>
      En plus des aspects techniques, le projet devait répondre aux exigences
      logistiques de l’entreprise en proposant un outil capable de s’adapter aux
      contraintes des livreurs sur le terrain.
    </p>
  </div>
</section>

<section class="section process">
  <div class="section-content">
    <h2>⚙️ Processus de développement</h2>
    <p>
      Le développement d’Optivex s’est déroulé en plusieurs étapes. La première
      phase a consisté à étudier les besoins des utilisateurs en échangeant
      directement avec les professionnels pour comprendre leurs contraintes et
      attentes. À partir de ces retours, une architecture claire et modulaire a
      pu être pensée pour structurer l’application de manière efficace.
    </p>
    <p>
      Android Studio et Java ont été utilisés pourle développement, en intégrant
      une base de données SQLite permettant aux livreurs de gérer leurs trajets
      même en mode hors ligne. Une attention particulière a été portée à
      l’optimisation des performances, afin d’assurer des temps de réponse
      rapides et une navigation fluide au sein de l’application.
    </p>
    <p>
      Durant la phase de développement, j’ai également mis en place un système
      de gestion des trajets permettant aux livreurs d’ajouter, modifier et
      consulter leurs trajets en quelques clics. L’objectif était de simplifier
      au maximum les interactions, afin d’améliorer l’efficacité et de minimiser
      le temps passé sur l’application lors des livraisons.
    </p>
    <p>
      Une fois la première version fonctionnelle, Une série de tests a pu être
      réalisée pour valider la stabilité et la robustesse de l’application, en
      simulant différents scénarios d’utilisation. Ces tests ont permis
      d’identifier et de corriger certains points d’amélioration avant le
      déploiement final.
    </p>
  </div>
  <img src="assets/images/projects/process.png" alt="Illustration processus" />
</section>

<section class="section conclusion">
  <img
    src="assets/images/projects/conclusion.jpg"
    alt="Illustration conclusion"
  />
  <div class="section-content">
    <h2>🏁 Conclusion et apprentissages</h2>
    <p>
      Le développement d’Optivex a été une expérience particulièrement
      enrichissante, tant d’un point de vue technique que dans la compréhension
      des enjeux logistiques liés aux trajets de livraison. Ce projet m’a permis
      de renforcer mes compétences en développement mobile, notamment sur la
      gestion des bases de données locales avec SQLite, ainsi que sur la
      conception d’interfaces optimisées pour un usage en entreprise.
    </p>
    <p>
      J’ai également pu travailler sur des problématiques concrètes liées à la
      logistique du transport et à l’optimisation des déplacements. Cette
      expérience m’a apporté une vision plus précise des exigences métiers et de
      l’importance d’adapter une solution logicielle aux besoins réels des
      utilisateurs.
    </p>
    <p>
      Grâce à ce projet, j’ai pu approfondir ma capacité à analyser un besoin
      métier, à concevoir une solution technique adaptée et à développer une
      application mobile performante et intuitive. Optivex a permis d’améliorer
      la gestion des trajets chez UPSA, et a démontré l’intérêt d’utiliser des
      outils numériques pour optimiser les processus logistiques au sein des
      entreprises.
    </p>
  </div>
</section>
