<p>optivex works!</p>
<section class="mission">
  <h1>Projet Covoit'Santé</h1>
  <p></p>
  <p></p>
</section>

<section class="role">
  <div class="h3-container">
    <h3>Mon rôle dans le projet</h3>
  </div>
  <p></p>
</section>
<section class="context">
  <div class="h3-container">
    <h3>Contexte et client</h3>
  </div>
  <p></p>
</section>
<section class="objective">
  <div class="h3-container">
    <h3>Objectifs, défis et enjeux</h3>
  </div>
  <p></p>
</section>
<section class="process">
  <div class="h3-container">
    <h3>Processus de développement</h3>
  </div>
  <p></p>
</section>
<section class="conclusion">
  <div class="h3-container">
    <h3>Conclusion et apprentissages</h3>
  </div>
  <p></p>
</section>
