<section class="section mission">
  <div class="section-content mission-content">
    <h1>Communication</h1>
    <p>
      La communication est une compétence fondamentale dans le développement
      logiciel, car un projet ne se résume pas seulement à écrire du code : il
      faut aussi échanger avec des clients, des utilisateurs, des chefs de
      projet et d’autres développeurs pour assurer la bonne compréhension des
      besoins et l’efficacité du travail en équipe.
    </p>
  </div>
  <img src="assets/images/communication.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai appris à développer une communication claire et efficace, que ce soit
      à l’oral ou à l’écrit, en adaptant mon discours à mon interlocuteur. Dans
      mes projets professionnels, j’ai souvent dû expliquer des concepts
      techniques à des personnes non spécialisées, notamment lors de mon
      alternance à l’ENAP où je devais présenter les nouvelles fonctionnalités
      de l’application Lilas aux équipes techniques et recueillir leurs retours.
    </p>
    <p>
      Dans le cadre de Insert, une plateforme destinée aux partenaires d’une
      Mission Locale, j’ai collaboré avec des responsables qui n’étaient pas
      forcément familiarisés avec les aspects techniques du projet. J’ai appris
      à vulgariser les informations techniques, en expliquant comment
      l’application fonctionnait, quelles étaient ses limites et comment elle
      pouvait être améliorée en fonction des retours des utilisateurs.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      La communication joue également un rôle clé dans le travail en équipe.
      Lors de mes projets en groupe, j’ai toujours veillé à écouter activement
      mes collègues, à partager mes idées de manière constructive et à faciliter
      la prise de décision en synthétisant les informations essentielles.
    </p>
    <p>
      Aujourd’hui, je considère cette compétence comme un atout majeur, qui me
      permet de collaborer efficacement dans des environnements variés, de mieux
      comprendre les attentes des utilisateurs et de contribuer positivement aux
      dynamiques de groupe.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
