<section class="section mission">
  <div class="section-content mission-content">
    <h1>Gwadafood</h1>
    <p>
      Lors de ma première année d’études à l’ESIEA, j’ai travaillé sur le projet
      Gwadafood, un site vitrine conçu pour mettre en avant les services et
      produits d’un traiteur antillais. L’objectif principal était de donner de
      la visibilité à l’entreprise, en lui offrant une présence en ligne
      permettant aux clients potentiels de découvrir ses spécialités culinaires
      et d’entrer facilement en contact avec elle.
    </p>

    <p>
      Le site devait refléter l’identité visuelle et culturelle de Gwadafood,
      tout en proposant une navigation fluide et intuitive. Il s’agissait d’un
      projet clé pour l’entreprise, qui souhaitait attirer de nouveaux clients
      et présenter ses plats de manière professionnelle et attrayante.
    </p>
  </div>
  <img src="assets/images/projects/gwadafood.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/projects/role.png" alt="Illustration rôle" />
  <div class="section-content">
    <h2>👨‍💻 Mon rôle dans le projet</h2>
    <p>
      En tant que développeur web, j’ai pris en charge l’intégralité de la
      conception et du développement du site. Ce projet a été l’un de mes
      premiers travaux concrets en développement web, me permettant d’explorer
      la création d’une interface utilisateur et la mise en place d’un système
      dynamique avec PHP.
    </p>
    <p></p>
    <p>
      J’ai débuté le projet en concevant une maquette du site, en structurant
      les différentes pages afin d’assurer une expérience utilisateur cohérente
      et intuitive. Cette phase de réflexion a permis de définir une navigation
      fluide, tout en mettant en valeur l’univers et l’identité de Gwadafood.
    </p>
    <p>
      Le développement s’est ensuite concentré sur les fonctionnalités
      essentielles. Une page d’accueil a été créée pour plonger les visiteurs
      dans l’histoire et l’univers du traiteur, en mettant en avant ses valeurs
      et son savoir-faire. Afin de donner un aperçu des spécialités culinaires
      proposées, une galerie de plats a été intégrée, présentant chaque met à
      travers des images de qualité accompagnées de descriptions détaillées.
    </p>
    <p>
      Pour faciliter les échanges avec les clients, une page de contact a été
      développée, permettant aux visiteurs d’envoyer facilement leurs demandes
      d’informations ou de devis via un formulaire dynamique conçu en PHP.
      Enfin, une section dédiée aux services a été mise en place, offrant une
      présentation détaillée des prestations proposées, notamment les événements
      et les commandes sur mesure, afin de répondre aux besoins spécifiques de
      la clientèle.
    </p>
    <p>
      L’ensemble du site a été développé en HTML, CSS et PHP, me donnant
      l’occasion d’apprendre les bases du développement web.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <h2>🏢 Contexte et client</h2>
    <p>
      Le projet Gwadafood a été réalisé pour un traiteur antillais souhaitant
      développer sa présence en ligne. L’entreprise, spécialisée dans les plats
      traditionnels des Antilles, cherchait à valoriser son savoir-faire et à
      attirer une clientèle plus large en mettant en avant ses spécialités sur
      un site moderne et accessible.
    </p>
    <p>
      Le besoin était clairement identifié : disposer d’un outil simple mais
      efficace pour présenter ses plats, faciliter la prise de contact et donner
      une image professionnelle à son activité. Avant la mise en place du site,
      l’entreprise ne disposait que du bouche-à-oreille et des réseaux sociaux
      pour promouvoir ses services. La création d’un site vitrine était donc une
      étape clé dans son développement commercial.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section objective">
  <img
    src="assets/images/projects/objective.jpg"
    alt="Illustration objectifs"
  />
  <div class="section-content">
    <h2>🎯 Objectifs, défis et enjeux</h2>
    <p>
      Le principal objectif du projet était de concevoir un site attractif et
      fonctionnel, tout en assurant une navigation claire et intuitive pour les
      visiteurs. Il fallait que l’expérience utilisateur soit fluide, permettant
      aux clients potentiels de trouver rapidement les informations essentielles
      sur les plats et services proposés.
    </p>
    <p>
      Un des défis majeurs du projet était d’intégrer une identité visuelle
      forte, en mettant en avant l’univers coloré et chaleureux de la cuisine
      antillaise à travers le design du site. L’objectif était de rendre
      l’expérience immersive, en choisissant des couleurs vibrantes, des images
      de qualité et une typographie adaptée.
    </p>
    <p>
      Un autre enjeu important était d’optimiser le référencement naturel (SEO)
      afin d’assurer une bonne visibilité sur les moteurs de recherche. J’ai
      donc intégré des balises optimisées, structuré le contenu de manière
      efficace et mis en place des titres et descriptions clairs pour chaque
      page.
    </p>
    <p>
      Pour finir, le site devait être facilement administrable, afin que le
      client puisse mettre à jour son menu et ses offres sans difficulté.
    </p>
  </div>
</section>

<section class="section process">
  <div class="section-content">
    <h2>⚙️ Processus de développement</h2>
    <p>
      Le développement du projet s’est déroulé en plusieurs étapes, en
      commençant par une phase de recueil des besoins et d’analyse. Cette étape
      a impliqué des échanges avec le client afin de définir précisément les
      objectifs du site et d’identifier les éléments essentiels à mettre en
      avant pour refléter au mieux l’image du traiteur.
    </p>
    <p>
      Une fois ces bases établies, la conception et le maquettage ont permis
      d’élaborer un design adapté, mettant en valeur l’univers culinaire de
      Gwadafood tout en essayant de garder une navigation fluide et intuitive
      pour les visiteurs. L’interface a ensuite été développée en HTML et CSS.
    </p>
    <p>
      Pour enrichir les fonctionnalités du site, un back-end en PHP a été
      implémenté. Un formulaire de contact dynamique a été développé, permettant
      aux utilisateurs d’envoyer facilement leurs demandes. Par ailleurs, une
      structure flexible a été mise en place pour faciliter l’affichage et la
      mise à jour des produits et services.
    </p>
  </div>
  <img src="assets/images/projects/process.png" alt="Illustration processus" />
</section>

<section class="section conclusion">
  <img
    src="assets/images/projects/conclusion.jpg"
    alt="Illustration conclusion"
  />
  <div class="section-content">
    <h2>🏁 Conclusion et apprentissages</h2>
    <p>
      La réalisation du site Gwadafood a été un projet très formateur, qui m’a
      permis de mettre en pratique mes compétences en développement web et de
      mieux comprendre les enjeux liés à la création d’un site vitrine pour un
      professionnel.
    </p>
    <p>
      J’ai appris à concevoir une interface attrayante et ergonomique, en
      intégrant des éléments graphiques qui reflètent l’identité d’une
      entreprise. Ce projet m’a également permis de me familiariser avec PHP,
      notamment pour la gestion des formulaires et des interactions dynamiques.
    </p>
    <p>
      Grâce à ce site, le traiteur Gwadafood a pu bénéficier d’un outil de
      communication efficace et moderne, facilitant la mise en avant de ses
      spécialités et attirant une nouvelle clientèle.
    </p>
  </div>
</section>
