<section class="section mission">
  <div class="section-content mission-content">
    <h1>Git</h1>
    <p>
      Git est un outil indispensable dans le développement logiciel, permettant
      un suivi précis des modifications, une gestion efficace des versions et
      une collaboration fluide au sein des équipes. Il facilite le travail en
      groupe en assurant la traçabilité des modifications et en offrant des
      mécanismes puissants pour résoudre les conflits de code. Son adoption
      généralisée dans l’industrie en fait un incontournable pour tout
      développeur souhaitant travailler sur des projets d’envergure, qu’ils
      soient open source ou professionnels.
    </p>
  </div>
  <img src="assets/images/gitWhite.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai commencé à utiliser Git dès mes premiers projets personnels, ce qui
      m’a permis de comprendre les fondamentaux de la gestion de version :
      commits, branches, merges et rebases. Avec le temps, j’ai intégré des
      workflows plus avancés, notamment dans les projets Covoit’Santé et
      Optivex, où j’ai dû collaborer avec d’autres développeurs et organiser
      efficacement le code source. L’utilisation de plateformes comme GitHub et
      GitLab m’a familiarisé avec les pratiques professionnelles, notamment les
      pull requests, les revues de code et l’intégration continue.
    </p>
    <p>
      Dans le cadre de Covoit’Santé, j’ai travaillé avec GitLab et mis en place
      une gestion rigoureuse des branches en suivant une approche Git Flow : une
      branche principale stable, des branches de développement et des branches
      spécifiques pour chaque fonctionnalité ou correctif. L’intégration de
      pipelines CI/CD a permis d’automatiser le déploiement et les tests,
      garantissant ainsi une mise en production rapide et fiable. Sur Optivex,
      l’accent a été mis sur la gestion des versions et la maintenance à long
      terme. J’ai appris à utiliser des tags pour marquer les versions stables
      et j’ai exploité des outils avancés comme Git bisect pour identifier et
      corriger efficacement les bugs.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      La gestion des conflits est un aspect crucial de l’utilisation de Git,
      notamment lorsqu’on travaille en équipe sur des fichiers communs. J’ai
      développé des réflexes solides pour gérer ces conflits efficacement, en
      utilisant git rebase et git merge de manière appropriée, et en appliquant
      des bonnes pratiques pour garder un historique propre et compréhensible.
      L’utilisation de hooks Git, notamment pour le formatage du code et la
      vérification des commits, a également permis d’améliorer la qualité du
      projet et d’automatiser certaines tâches répétitives.
    </p>
    <p>
      Aujourd’hui, Git est une part essentielle de mon workflow de
      développement. Je continue à explorer des pratiques avancées telles que
      GitOps, qui intègre Git à la gestion des infrastructures, et l’utilisation
      de submodules pour gérer des dépendances complexes. Mon objectif est
      d’optimiser encore davantage mes workflows en m’appuyant sur les dernières
      évolutions des outils de gestion de versions et en intégrant des
      stratégies avancées d’automatisation et de sécurité pour assurer des
      livraisons toujours plus fiables et efficaces.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Gwadafood</h3>
        <img
          src="assets/images/projects/gwadafood.png"
          alt="Illustration projet Gwadafood"
        />
        <a routerLink="/gwadafood" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
