<section class="section mission">
  <div class="section-content mission-content">
    <h1>Insert</h1>
    <p>
      Dans le cadre d’un projet en collaboration avec la Mission Locale du Pays
      du Villeneuvois, j’ai participé au développement d’Insert, une plateforme
      numérique ayant pour objectif de référencer et gérer tous les partenaires
      de l’organisme.
    </p>

    <p>
      L’enjeu principal de cette plateforme était d’offrir une visibilité
      globale sur les différents partenaires, de leur permettre de gérer leurs
      propres événements, et de centraliser toutes ces informations dans un
      calendrier et une carte interactive.
    </p>
    <p>
      Chaque partenaire pouvait se connecter à la plateforme, organiser des
      événements, et les publier afin qu’ils apparaissent automatiquement dans
      un calendrier partagé et sur une carte interactive utilisant Leaflet. Ce
      projet visait à faciliter la communication et la coordination entre les
      différents acteurs impliqués, tout en assurant une meilleure organisation
      des événements et initiatives locales.
    </p>
  </div>
  <img src="assets/images/projects/insert.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/projects/role.png" alt="Illustration rôle" />
  <div class="section-content">
    <h2>👨‍💻 Mon rôle dans le projet</h2>
    <p>
      En tant que développeur full-stack, j’ai contribué activement au
      développement de Insert, en travaillant sur l’interface utilisateur avec
      Angular et sur l’API en Java qui permettait la gestion des données.
    </p>
    <p>
      Dans un premier temps, j’ai conçu et développé le front-end avec Angular,
      en mettant en place une interface moderne, dynamique et intuitive.
      L’objectif était d’assurer une expérience fluide pour les partenaires,
      leur permettant d’ajouter facilement des événements, de consulter ceux des
      autres, et d’interagir avec la carte interactive.
    </p>
    <p>
      J’ai également participé au développement de l’API REST en Java, qui
      assurait la gestion des utilisateurs, des partenaires et des événements.
      Cette API était responsable du stockage et de la récupération des données,
      garantissant un système sécurisé et performant pour gérer les informations
      des partenaires et des événements.
    </p>
    <p>
      Un des défis majeurs de ce projet a été l’intégration de Leaflet, une
      bibliothèque JavaScript permettant d’afficher une carte interactive où
      chaque événement était géolocalisé. J’ai travaillé sur la mise en place de
      points interactifs permettant aux utilisateurs de visualiser rapidement où
      et quand chaque événement se déroulait.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <h2>🏢 Contexte et client</h2>
    <p>
      La Mission Locale du Pays du Villeneuvois accompagne les jeunes dans leur
      insertion professionnelle et sociale, en collaborant avec de nombreux
      partenaires locaux (entreprises, associations, institutions).
    </p>
    <p>
      Avant la mise en place de Insert, il était difficile d’avoir une vue
      d’ensemble des partenaires et des événements organisés, ce qui limitait la
      coordination entre les différents acteurs. Le projet a donc été conçu pour
      répondre à ce besoin, en proposant une plateforme centralisée où chaque
      partenaire pouvait gérer ses propres informations et événements en toute
      autonomie.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section objective">
  <img
    src="assets/images/projects/objective.jpg"
    alt="Illustration objectifs"
  />
  <div class="section-content">
    <h2>🎯 Objectifs, défis et enjeux</h2>
    <p>
      L’objectif principal de Insert était de fournir une solution numérique
      efficace pour améliorer la gestion et la visibilité des partenaires et des
      événements locaux.
    </p>
    <p>
      L’un des principaux défis du projet était de concevoir une plateforme
      simple et intuitive, permettant aux partenaires de gérer facilement leurs
      événements et d’interagir avec le calendrier et la carte interactive.
    </p>
    <p>
      Un autre enjeu était la gestion des accès et des rôles utilisateurs.
      Certains partenaires avaient des droits spécifiques, comme la création
      d’événements ou la gestion des informations sur leurs structures. Il a
      donc fallu implémenter un système d’authentification sécurisé, avec des
      permissions adaptées à chaque type d’utilisateur.
    </p>
    <p>
      Enfin, l’intégration de Leaflet pour la carte interactive a représenté un
      défi technique important. Il était nécessaire de permettre aux
      utilisateurs de localiser leurs événements avec précision, tout en
      optimisant l’affichage pour éviter les lenteurs et garantir une expérience
      fluide.
    </p>
  </div>
</section>

<section class="section process">
  <div class="section-content">
    <h2>⚙️ Processus de développement</h2>
    <p>
      Le développement de Insert a suivi un processus structuré, débutant par
      une phase d’analyse des besoins en collaboration avec la Mission Locale.
      Cette étape a permis d’identifier les fonctionnalités essentielles et de
      préciser les attentes des partenaires afin de garantir une solution
      adaptée à leurs usages.
    </p>
    <p>
      Une fois les exigences définies, la conception de l’architecture du projet
      s’est orientée vers une structure combinant un front-end développé avec
      Angular et une API en Java. Cette approche a assuré une séparation claire
      des responsabilités et une meilleure évolutivité de la plateforme.
    </p>
    <p>
      Le développement de l’interface utilisateur s’est concentré sur
      l’expérience utilisateur, avec la mise en place d’un système
      d’authentification sécurisé, un tableau de bord permettant la gestion des
      événements, et une carte interactive intégrée grâce à Leaflet.
      L’interactivité et la clarté de la navigation ont été des priorités tout
      au long du processus.
    </p>
    <p>
      Parallèlement, l’API REST a été développée en Java afin d’assurer la
      gestion efficace des partenaires, des événements et la communication
      fluide entre le front-end et la base de données. Une attention
      particulière a été portée à la mise en place d’un calendrier dynamique,
      permettant d’afficher les événements en temps réel avec diverses options
      de filtrage et de tri pour une navigation simplifiée.
    </p>
    <p>
      Enfin, une phase de tests rigoureuse a été menée pour garantir la
      stabilité et la fluidité de la plateforme. Des ajustements ont été
      effectués en fonction des retours utilisateurs, permettant d’affiner
      l’expérience et d’optimiser les performances avant le déploiement final.
    </p>
  </div>
  <img src="assets/images/projects/process.png" alt="Illustration processus" />
</section>

<section class="section conclusion">
  <img
    src="assets/images/projects/conclusion.jpg"
    alt="Illustration conclusion"
  />
  <div class="section-content">
    <h2>🏁 Conclusion et apprentissages</h2>
    <p>
      Le développement de Insert a été une expérience très enrichissante, me
      permettant de travailler sur un projet complet et concret, impliquant à la
      fois du développement front-end et back-end.
    </p>
    <p>
      Grâce à ce projet, j’ai renforcé mes compétences en Angular, notamment sur
      la gestion des interfaces dynamiques et interactives, ainsi qu’en Java,
      avec le développement d’une API robuste et sécurisée.
    </p>
    <p>
      J’ai également appris à intégrer Leaflet dans une application Angular, en
      optimisant l’affichage des points géolocalisés pour assurer une expérience
      utilisateur fluide et performante.
    </p>
    <p>
      En travaillant avec la Mission Locale, j’ai pu mieux comprendre les
      besoins d’un organisme public et l’importance de concevoir des outils
      numériques adaptés aux réalités du terrain.
    </p>
  </div>
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Compétences associées</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Gestion de projets</h3>
        <img
          src="assets/images/proGestionViolet.png"
          alt="Illustration compétence"
        />
        <a routerLink="/gestion-de-projets" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Git</h3>
        <img src="assets/images/gitViolet.png" alt="Illustration compétence" />
        <a routerLink="/git" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>SQL</h3>
        <img src="assets/images/sqlViolet.png" alt="Illustration compétence" />
        <a routerLink="/sql" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Communication</h3>
        <img
          src="assets/images/communicationViolet.png"
          alt="Illustration compétence"
        />
        <a routerLink="/communication" class="btn">Voir la compétence</a>
      </div>
      <div class="skill-card">
        <h3>Angular</h3>
        <img
          src="assets/images/angularViolet.png"
          alt="Illustration compétence"
        />
        <a routerLink="/angular" class="btn">Voir la compétence</a>
      </div>
    </div>
  </div>
</section>
