<section class="section mission">
  <div class="section-content mission-content">
    <h1>SQL</h1>
    <p>
      La gestion des bases de données est une compétence essentielle dans le
      développement web et applicatif. SQL permet de structurer, interroger et
      manipuler efficacement des données, garantissant leur intégrité et leur
      accessibilité.
    </p>
  </div>
  <img src="assets/images/sqlWhite.png" alt="Illustration mission" />
</section>

<section class="section role">
  <img src="assets/images/4380747.jpg" alt="Illustration rôle" />
  <div class="section-content">
    <p>
      J’ai commencé à travailler avec SQL lors de mes premiers projets en PHP,
      en concevant des bases de données relationnelles optimisées pour stocker
      et organiser des informations. Sur Lilas, j’ai mis en place un système de
      gestion des anomalies techniques, nécessitant des requêtes SQL complexes
      pour assurer un suivi efficace des interventions.
    </p>
  </div>
</section>

<section class="section context" id="context">
  <div class="section-content">
    <p>
      Dans le cadre de Insert, une plateforme de gestion des partenaires et
      événements, j’ai optimisé les performances de la base de données en
      mettant en place des index, des jointures avancées et une gestion efficace
      des transactions. La nécessité d’un accès rapide et fluide aux données m’a
      également amené à intégrer un système de pagination et de mise en cache.
    </p>
    <p>
      Aujourd’hui, je continue à approfondir mes connaissances en SQL, en
      explorant les meilleures pratiques en matière de modélisation des données,
      d’optimisation des requêtes et d’intégration avec des bases de données
      NoSQL lorsque cela est pertinent.
    </p>
  </div>
  <img src="assets/images/projects/context.png" alt="Illustration contexte" />
</section>

<section class="section context" id="linked-skills">
  <div class="section-content-skills">
    <h2 class="skill-title">Projets associés</h2>
    <div class="skills-container">
      <div class="skill-card">
        <h3>Lilas</h3>
        <img
          src="assets/images/projects/lilas-logo.png"
          alt="Illustration projet Lilas"
        />
        <a routerLink="/lilas" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Covoit'Santé</h3>
        <img
          src="assets/images/projects/covoit-sante.svg"
          alt="Illustration projet Covoit'Santé"
        />
        <a routerLink="/covoit-sante" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Gwadafood</h3>
        <img
          src="assets/images/projects/gwadafood.png"
          alt="Illustration projet Gwadafood"
        />
        <a routerLink="/gwadafood" class="btn">Voir le projet</a>
      </div>
      <div class="skill-card">
        <h3>Optivex</h3>
        <img
          src="assets/images/projects/optivex.jpg"
          alt="Illustration projet optivex"
        />
        <a routerLink="/optivex" class="btn">Voir le projet</a>
      </div>

      <div class="skill-card">
        <h3>Insert</h3>
        <img
          src="assets/images/projects/insert.png"
          alt="Illustration projet insert"
        />
        <a routerLink="/insert" class="btn">Voir le projet</a>
      </div>
    </div>
  </div>
</section>
